.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv{

  width:92% ;
  background-color: rgb(238, 235, 235);
  padding:20px 4% 20px;
  display: flex;
  justify-content: space-between ;
}
.innerDiv{
  width: 24%;
  background-color:white ;
  padding:2% 3% 2%;
}
button{
  color:green ;
  outline:none ;
  border-radius:5px ;
  border:2px solid green ;
  font-size:1rem ;
  padding:8px ;
  background-color: white ;
}
